.UserProfile {
  display: flex;
  width: 100%;
  position: static;
  height: 100vh;
  z-index: 0;

  .SideBarProfile {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #8ad31a;
    position: relative;
    z-index: 1;

    img {
      display: flex;
      width: 30%;
      margin: 0 auto;
      margin-left: 23%;
    }

    .Textos {
      margin-left: 16%;
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  .BodyMainProfile {
    width: 70%;
    padding: 4%;
    border: 0px solid;
    border-radius: 80px 0 0 0;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    margin-left: -100px;
    box-shadow: rgba(19, 88, 48, 0.562) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    .TitleProfileBodyMain {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      h1 {
        font-size: 35px;
        text-transform: uppercase;
        color: #141414;
      }

      &::after {
        content: "";
        width: 200px;
        height: 7px;
        background-color: #036aca;
        border-radius: 20px;
        position: relative;
      }
      margin-bottom: 40px;
    }
    .BodyMainProfileActions {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;

      .BotoesPerfilInicial {
        display: flex;
        justify-content: space-between;
        gap: 3%;
        width: 80%;
        margin: 0 auto;

        button {
          width: 300px;
          padding: 40px;
          border: none;
          border-radius: 15px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          background-color: #ffff;
          cursor: pointer;
          font-size: 16px;

          a {
            text-decoration: none;
            color: #000000;

            &:hover {
              color: #8ad31a;
            }
          }

          &:hover {
            background-color: #031521;
            color: #8ad31a;

            a{
              color: #8ad31a;
            }
          }
        }
      }
    }
  }
}
